---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                 Side By Side                 -->
 <!-- ============================================ -->

<section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Painting Company</h2>
                <p class="cs-text">
                    Morbi sit amet vehicula nibh. Sed nulla purus, aliquet eu ullamcorper sed, viverra at metus. Vivamus gravida ligula in odio mattis, nec commodo urna ultrices. Etiam posuere aliquet massa euismod faucibus. Suspendisse enim sem, sagittis sit amet sollicitudin eget, dictum quis est. Nam a arcu in ante ornare tempor. Suspendisse.
                </p>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/works" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1282">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Statistics</span>
                <h2 class="cs-title">High-Quality Services for Your Project</h2>
            </div>
            <p class="cs-text">
                Nam rutrum ut sapien eu ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-picture">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Services/two-people.svg" alt="svg icon"
                                width="37" height="29" loading="lazy" decoding="async">
                    </picture>
                    Completion Time
                </h3>
                <span class="cs-number">5-7 Days</span>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. At sagittis, odio congue aenean.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-picture">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Services/line-graph.svg" alt="svg icon"
                                width="37" height="29" loading="lazy" decoding="async">
                    </picture>
                    Experience
                </h3>
                <span class="cs-number">12 Years</span>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. At sagittis, odio congue aenean.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-picture">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Services/briefcase2.svg" alt="svg icon"
                                width="37" height="29" loading="lazy" decoding="async">
                    </picture>
                    Current Projects
                </h3>
                <span class="cs-number">100+</span>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. At sagittis, odio congue aenean.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-picture">
                        <img class="cs-icon" aria-hidden="true"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Services/three-bars.svg" alt="svg icon"
                                width="37" height="29" loading="lazy" decoding="async">
                    </picture>
                    Service Area
                </h3>
                <span class="cs-number">50+ Neighborhoods</span>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. At sagittis, odio congue aenean.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/head-1.webp" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Britney Allison
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/ex-yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Maecenas hendrerit libero sed auctor mattis. Etiam at purus ut mi malesuada pharetra. Maecenas suscipit euismod lacus, at sagittis neque feugiat vitae. Nullam varius, purus nec feugiat interdum, nulla urna.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/head-2.webp" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Brooklyn Simmons
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/ex-yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Maecenas hendrerit libero sed auctor mattis. Etiam at purus ut mi malesuada pharetra. Maecenas suscipit euismod lacus, at sagittis neque feugiat vitae. Nullam varius, purus nec feugiat interdum, nulla urna.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/head-3.webp" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Cameron Williamson
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/ex-yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Maecenas hendrerit libero sed auctor mattis. Etiam at purus ut mi malesuada pharetra. Maecenas suscipit euismod lacus, at sagittis neque feugiat vitae. Nullam varius, purus nec feugiat interdum, nulla urna.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}