---
title: 'Service 3 | Blackridge Web Design'
description: "Expert cabinet painting and refinishing services to refresh your kitchen or bathroom. High-quality finishes for a modern, updated look. Get a free quote today!"
preloadImg: '/assets/images/ex-cabinets-before.webp'
permalink: 'service3/'
eleventyNavigation:
    key: Works
    order: 400
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-2296">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Specialized painting</span>
            <h2 class="cs-title">Service 3</h2>
            <p class="cs-text">
                Suspendisse mi orci, pulvinar nec rhoncus ut, ultricies nec est. Vestibulum erat ipsum, interdum quis arcu congue, tincidunt ultricies ligula.
            </p>
            <h3 class="cs-h3">Our Process</h3>
            <ul class="cs-ul">
                <li class="cs-li">
                    <strong>Consultation & Assessment</strong>: Suspendisse maximus lorem vel nulla condimentum tempor. Integer purus nisi, egestas nec dui rhoncus, vulputate.
                </li>
                <li class="cs-li">
                    <strong>Preparation & Protection</strong>: Suspendisse maximus lorem vel nulla condimentum tempor. Integer purus nisi, egestas nec dui rhoncus, vulputate.
                </li>
                <li class="cs-li">
                    <strong>Painting & Detailing</strong>: Suspendisse maximus lorem vel nulla condimentum tempor. Integer purus nisi, egestas nec dui rhoncus, vulputate.
                </li>
                <li class="cs-li">
                    <strong>Final Inspection</strong>: Suspendisse maximus lorem vel nulla condimentum tempor. Integer purus nisi, egestas nec dui rhoncus, vulputate.
                </li>
            </ul>
            <a href="" class="cs-button-solid">Book An Appointment</a>
        </div>
        <div class="cs-image-group">
            <!--Main Image-->
            <div class="cs-picture-wrapper1">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/ex-cabinets-after-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/ex-cabinets-after-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/ex-cabinets-after-1.webp" alt="wedding" width="272" height="337">
                </picture>
                <span class="cs-tag">After</span>
            </div>
            <!--Small Image-->
            <div class="cs-picture-wrapper2">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/ex-cabinets-after-2.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/ex-cabinets-after-2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/ex-cabinets-after-2.webp" alt="wedding" width="243" height="367">
                </picture>
                <span class="cs-tag">After</span>
            </div>
            <!--Small Image-->
            <div class="cs-picture-wrapper3">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/ex-cabinets-before.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/ex-cabinets-before.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/ex-cabinets-before.webp" alt="wedding" width="243" height="367">
                </picture>
                <span class="cs-tag">Before</span>
            </div>
            <img class="cs-arrow cs-arrow-left" loading="lazy" decoding="async" src="/assets/svgs/ex-arrow-left.svg" alt="arrow" width="148" height="54">
            <img class="cs-arrow cs-arrow-right" loading="lazy" decoding="async" src="/assets/svgs/ex-arrow-right.svg" alt="arrow" width="148" height="54">
        </div>
    </div>

</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-379">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Work</span>
            <h2 class="cs-title">Some Work Highlighting Service 3</h2>
            <p class="cs-text">
                Fusce vitae dapibus nulla, eget auctor turpis. Suspendisse mollis, erat nec sodales finibus, sapien ligula volutpat sapien, vitae rutrum nulla.
            </p>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets1.webp" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets2.webp" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets3.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets3.webp" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets1.webp" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets2.webp" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets3.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets3.webp" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}