/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-669 {
        /* centers button */
        text-align: center;
        /* 120px - 300px top */
        /* 60px - 150px  bottom */
        padding: clamp(7.5rem, 23.82vw, 18.75rem) (16/16rem)
            clamp(3.75rem, 14.82vw, 9.375rem);
        position: relative;
        z-index: 1;

        &:before {
            /* red backgorund box */
            content: "";
            width: 100%;
            height: 85%;
            background: var(--primary);
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
        }

        .cs-content {
            text-align: center;
            max-width: (630/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            /* 16 characters wide including spaces */
            max-width: 16ch;
            margin: 0 0 (16/16rem) 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (522/16rem);
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: (12/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: #1a1a1a;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: #fff;
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--headerColor);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-transparent {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: #fff;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: transparent;
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--headerColor);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-stats-group {
            width: 100%;
            max-width: (522/16rem);
            margin: 0;
            /* 48px - 64px */
            margin-top: clamp(3rem, 6vw, 4rem);
            /* 48px - 64px, removed at desktop */
            margin-bottom: clamp(3rem, 6vw, 4rem);
            padding: 0;
            display: flex;
            /* changes at desktop */
            justify-content: space-evenly;
            align-items: center;
        }

        .cs-item {
            list-style: none;
            /* 100px - 150px */
            width: clamp(6.25rem, 16vw, 9.375rem);
            height: auto;
            border-radius: 50%;
            border: 1px solid #fff;
            /* makes it square - when width divided by height equals 1 - creates a square */
            aspect-ratio: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2.1vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: #cdcdcd;
            display: block;
        }

        .cs-number {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 3.8vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-picture {
            width: 100%;
            max-width: (616/16rem);
            /* Changes at desktop */
            height: (400/16rem);
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-669 {
        /* clips the red box from overflowing the section */
        overflow: hidden;

        &:before {
            /* removed from section container and added to cs-container for easier horizontal positioning */
            display: none;
        }

        .cs-container {
            flex-direction: row;
            justify-content: flex-end;

            &:before {
                /* red backgorund box */
                content: "";
                width: 100vw;
                height: 300%;
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                /* 200px - 305px, posiitoming it off the right edge of the container whihc has a fixed width so  */
                left: clamp(12.5rem, 20vw, 19.0625rem);
                z-index: -1;
                transform: translateY(-50%);
            }
        }

        .cs-content {
            text-align: left;
            width: 53%;
            /* prevents flex-box from squishing it */
            flex: none;
            align-items: flex-start;
        }

        .cs-stats-group {
            margin-bottom: 0;
            justify-content: space-between;
        }

        .cs-picture {
            width: 50vw;
            max-width: 100%;
            /* 714px - 800px */
            height: clamp(44.625rem, 60vw, 50rem);
            /* push 100px left of that center line from the left property. this ensures it always stays exactly 100px right of the center line and wont move */
            margin-right: (100/16rem);
            position: absolute;
            bottom: 0;
            /* send the left edge of the element to line up at the center of the screen */
            right: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-669 {
            &:before {
                filter: brightness(50%);
            }

            .cs-container {
                &:before {
                    filter: brightness(50%);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-2198 {
        padding: var(--sectionPadding);
        position: relative;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            max-width: (400/16rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (32/16rem);
        }
        
        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            grid-column: span 12;

            &:hover {
                .cs-picture {
                    &:before {
                        background-color: var(--primary);
                    }
                    img {
                        opacity: .3;
                    }
                }
            }
        }

        .cs-link {
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-picture {
            width: 100%;
            /* 240px - 340px */
            height: clamp(15rem, 30vw, 21.25rem);
            margin-bottom: (44/16rem);
            background-color: #000;
            display: flex;
            justify-content: center;
            position: relative;

            &::before {
                content: "";
                width: 100%;
                height: (20/16rem);
                margin: 0 (32/16rem);
                background-color: #E8E8E8;
                display: block;
                position: relative;
                top: 100%;
                bottom: 0;
                z-index: 10;
                transition: background-color .3s;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-flex {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 (20/16rem) 0;
            color: var(--headerColor);
            z-index: 1;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-2198 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            max-width: none;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-picture {
            margin-bottom: (52/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-2198 {
            background-color: rgba(0, 0, 0, .2);

            .cs-title, .cs-h3, .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: .8;
            }

            .cs-picture {
                &::before {
                    background-color: var(--medium);
                }
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-599 {
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            /* moved section padding to cs-content so the cs-background can be full width */
            padding: var(--sectionPadding);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-background {
            display: block;
            position: relative;
            width: 100%;
            height: (256/16rem);
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-599 {
        /* 90px - 150px */
        /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
        padding: clamp(5.625rem, 9vw, 9.375rem) (16/16rem);
        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-background {
            width: 50%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
        }

        .cs-content {
            width: 45%;
            padding: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-599 {
            .cs-topper {
                color: var(--bodyTextColorWhite);
            }
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-2281 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;
    
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-button-group {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            row-gap: (16/16rem);
            /* 20px - 40px */
            column-gap: clamp(1.25rem, 3.4vw, 2.5rem);
        }

        .cs-button {
            font-size: (16/16rem);
            font-weight: bold;
            line-height: 1.5em;
            padding: 0;
            color: var(--bodyTextColor);
            background-color: transparent;
            border: none;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: '';
                width: 100%;
                height: 4px;
                background: var(--primary);
                opacity: 0;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition: opacity .3s, bottom .3s, transform .3s;
            }

            &:hover {
                color: var(--primary);
                cursor: pointer;

                &:before {
                    opacity: 1;
                    bottom: (-10/16rem);
                }
            }

            &.cs-active {
                color: var(--primary);

                &:before {
                    opacity: 1;
                    bottom: (-10/16rem);
                }
            }
        }

        .cs-gallery-wrapper {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
            position: relative;
            perspective: 700px;
            transform-style: preserve-3d;
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: left top;

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the top:0 value, the gallery won't go past that posiiton when it animates */
                top: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0) scaleX(0);

                .cs-image {
                    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
                    transform: translateY(2.1875rem) rotateX(90deg);
                    opacity: 0;
                }
            }
        }

        .cs-image {
            /* 300px - 420px */
            min-height: clamp(18.75rem, 40vw, 26.25rem);
            /* clips the image corners */
            overflow: hidden;
            display: block;
            grid-column: span 12;
            position: relative;
            /* when .cs-hidden is removed from the .cs-gallery, reset these values and animate between their hidden styles */
            transform: translateY(0rem) rotateX(0);
            opacity: 1;
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                /* the transition delays change at desktop */
                /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
                transition-delay: 0.1s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.7s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.8s;
            }
        }

        .cs-picture {
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /* makes it act like a background image */
            object-fit: cover;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                transition: transform .65s, opacity .3s;
            }
        }

        .cs-info {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            bottom: clamp(1rem, 2vw, 1.5rem);
            left: 0;
            z-index: 10;
        }

        .cs-tag {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 2vw, 1rem);
            font-weight: 700;
            text-transform: uppercase;
            padding: (8/16rem) (20/16rem);
            color: var(--bodyTextColorWhite);
            background-color: var(--primary);
        }

        .cs-project {
            font-size: (20/16rem);
            font-weight: 700;
            text-transform: uppercase;
            padding: (12/16rem) (16/16rem);
            color: var(--headerColor);
            background-color: #fff;
        }
    }
}

/* Inbetween - 600px */
@media only screen and (min-width: 37.5rem) {
    #gallery-2281 {
        .cs-image {
            grid-column: span 6;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-2281 {
        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-button-group {
            border-bottom: 1px solid #E7E7E8;
        }

        .cs-button {
            padding-bottom: (20/16rem);

            &:hover {
                &:before {
                    transform: scale(1);
                    bottom: -1px;
                }
            }

            &.cs-active {
                &:before {
                    bottom: -1px;
                    transform: scale(1);
                }
            }

            &:before {
                transform: scale(0);
                transition: transform .3s;
            }
        }

        .cs-image {
            grid-column: span 4;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #gallery-2281 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: (64/16rem);
        }
        .cs-image {
            &:hover {
                .cs-tag, .cs-project {
                    transform: translateX(0);
                    opacity: 1;
                }

                .cs-picture {
                    img {
                        opacity: .2;
                        transform: scale(1.3);
                    }
                }
            }
        }

        .cs-tag {
            opacity: 0;
            transform: translateX(-100%);
            transition: transform .3s ease-in-out, opacity .3s;
        }

        .cs-project {
            opacity: 0;
            transform: translateX(-100%);
            transition: transform .4s ease-out, opacity .3s;
            transition-delay: .1s;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-2281 {
            .cs-title, .cs-button {
                color: var(--bodyTextColorWhite);
            }

            .cs-button-group {
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-button {
                &.cs-active {
                    color: var(--primary);
                }
            }
        }
    }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1672 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);

        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: auto;
            border-radius: 50%;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1672 {
        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1672 {
            .cs-title,
            .cs-review,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: rgba(0, 0, 0, .2);
            }

            .cs-quote {
                opacity: 0.2;
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-587 {
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* changes to 20px at desktop */
            gap: (48/16rem);
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            height: (300/16rem);

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-right {
            /* moved section padding to the content so the picture can be full width */
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (48/16rem);
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-label {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            width: 100%;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            height: (56/16rem);
            padding: 0;
            padding-left: (24/16rem);
            color: var(--headerColor);
            background-color: #fff;
            border: 1px solid #e0e0e0;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            transition: border-color 0.3s;
            &:hover {
                border-color: var(--secondary);
            }
            &:focus {
                outline: 1px solid var(--secondary);
            }
            &::placeholder {
                color: #7d799c;
                opacity: 0.6;
            }
        }

        .cs-textarea {
            /* 120px - 192px */
            min-height: clamp(7.5rem, 28vw, 12rem);
            padding-top: (24/16rem);
            margin-bottom: (12/16rem);
            font-family: inherit;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            text-transform: uppercase;
            line-height: (56/16rem);
            min-width: (214/16rem);
            border: none;
            border-radius: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-587 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            flex-direction: row;
            justify-content: flex-end;
        }

        .cs-picture {
            position: absolute;
            height: 100%;
            width: 44%;
            right: 50%;
            /* 84px - 120px */
            margin-right: clamp(5.25rem, 12vw, 7.5rem);
        }

        .cs-right {
            width: 56%;
            max-width: (630/16rem);
            padding: 0;
        }

        .cs-label {
            width: 48%;
        }

        .cs-message {
            width: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-587 {
            background-color: var(--dark);
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-label,
            .cs-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-input {
                background-color: rgba(255, 255, 255, 0.1);
                color: var(--bodyTextColorWhite);
                border-color: rgba(255, 255, 255, 0.1);
                &:hover {
                    border-color: var(--secondary);
                }
                &::placeholder {
                    color: #fff;
                    opacity: 0.5;
                }
            }
        }
    }
}

                                