---
title: 'Painting Website | Blackridge Web Design | Herriman, UT'
description: "Professional house painting services that transform your home with high-quality finishes. Interior & exterior painting by skilled experts. Get a free quote today!"
preloadImg: '/assets/images/ex-hero.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-669">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Paint Your House Like A Dream Home</h1>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis libero nec dolor ultricies, quis.
            </p>
            <div class="cs-button-group">
                <a href="/contact" class="cs-button-solid">Make An Appointment</a>
                <a href="/works" class="cs-button-transparent">See Our Work</a>
            </div>
            <ul class="cs-stats-group">
                <li class="cs-item">
                    <span class="cs-desc">Rating</span>
                    <span class="cs-number">5/5</span>
                </li>
                <li class="cs-item">
                    <span class="cs-desc">Satisfaction</span>
                    <span class="cs-number">100%</span>
                </li>
                <li class="cs-item">
                    <span class="cs-desc">Projects</span>
                    <span class="cs-number">100's</span>
                </li>
            </ul>
        </div>
    </div>
    <!--Hero Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/ex-hero-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/ex-hero.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/ex-hero.webp" alt="room" width="862" height="850">
        </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2198">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title">Our Expert Painting Services</h2>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/service1" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/ex-exterior.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/ex-exterior.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/ex-exterior.webp" alt="wedding photography" width="413" height="340">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Service 1</h3>
                    </div>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet pellentesque enim. Aliquam rutrum.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/service2" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/ex-interior.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/ex-interior.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/ex-interior.webp" alt="wedding photography" width="413" height="340">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Service 2</h3>
                    </div>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet pellentesque enim. Aliquam rutrum.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/service3" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/ex-cabinets.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/ex-cabinets.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/ex-cabinets.webp" alt="wedding photography" width="413" height="340">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Service 3</h3>
                    </div>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet pellentesque enim. Aliquam rutrum.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-599">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/ex-exterior-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/ex-exterior-hero.webp">
        <img loading="lazy" decoding="async" src="/assets/images/ex-exterior-hero.webp" alt="room" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">Passionate Painters Committed to Bringing Your Vision to Life</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu egestas nunc, eu semper enim. Sed ullamcorper augue purus, eu dignissim magna consectetur vitae. Nulla facilisi. Sed quis gravida libero, nec elementum risus. Maecenas a eleifend lorem. Suspendisse eget efficitur ante. Aliquam justo arcu, maximus quis tincidunt ut, congue nec.
            </p>
            <p class="cs-text">
                Suspendisse ac tristique turpis. Vivamus non ante gravida, facilisis dolor eu, tempor leo. Mauris elementum tincidunt lorem eget tristique. In mollis diam ex, id euismod neque maximus ut. Nunc vel volutpat ligula. Praesent lacinia nulla non scelerisque laoreet. Aenean non nunc mi. Vestibulum eget lectus at metus ultrices ullamcorper. Vestibulum.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<!--
    To add a 5th or 6th gallery or more, copy and paste the cs-button and change it's data-filter to th next number, in this case it's 5. Do the dame to the cs-gallery and its data-category number. And thats it!
-->

<section id="gallery-2281">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Works</span>
                <h2 class="cs-title">Featured Projects</h2>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    All
                </button>
                <button class="cs-button" data-filter="two">
                    Service 1
                </button>
                <button class="cs-button" data-filter="three">
                    Service 2
                </button>
                <button class="cs-button" data-filter="four">
                    Service 3
                </button>
            </div>
        </div>
        <div class="cs-gallery-wrapper">
            <!--Gallery 1-->
            <div class="cs-gallery" data-category="one">
                <!--Picture 1-->
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-interior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 1</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-exterior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 2</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 3</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-interior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 1</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-exterior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 2</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 3</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
            </div>
            <!--Gallery 2-->
            <div class="cs-gallery cs-hidden" data-category="two">
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-exterior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 1</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-exterior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 1</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-exterior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-exterior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 1</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-exterior2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-exterior2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-exterior2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 1</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-exterior2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-exterior2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-exterior2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 1</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-exterior2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-exterior2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-exterior2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 1</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
            </div>
            <!--Gallery 3-->
            <div class="cs-gallery cs-hidden" data-category="three">
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-interior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 2</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-interior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 2</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-interior1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-interior1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 2</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-interior2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-interior2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-interior2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 2</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-interior2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-interior2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-interior2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 2</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-interior2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-interior2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-interior2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 2</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
            </div>
            <!--Gallery 4-->
            <div class="cs-gallery cs-hidden" data-category="four">
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 3</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 3</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 3</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 3</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 3</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/ex-cabinets2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/ex-cabinets2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Service 3</span>
                        <span class="cs-project">Image Description</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/head-1.webp" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Britney Allison
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/ex-yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Maecenas hendrerit libero sed auctor mattis. Etiam at purus ut mi malesuada pharetra. Maecenas suscipit euismod lacus, at sagittis neque feugiat vitae. Nullam varius, purus nec feugiat interdum, nulla urna.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/ex-gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/head-2.webp" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Brooklyn Simmons
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/ex-yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Maecenas hendrerit libero sed auctor mattis. Etiam at purus ut mi malesuada pharetra. Maecenas suscipit euismod lacus, at sagittis neque feugiat vitae. Nullam varius, purus nec feugiat interdum, nulla urna.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/ex-gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/head-3.webp" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Cameron Williamson
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/ex-yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Maecenas hendrerit libero sed auctor mattis. Etiam at purus ut mi malesuada pharetra. Maecenas suscipit euismod lacus, at sagittis neque feugiat vitae. Nullam varius, purus nec feugiat interdum, nulla urna.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/ex-gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-587">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/ex-cabinets-hero-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/ex-cabinets-hero.webp">
            <img loading="lazy" decoding="async" src="/assets/images/ex-cabinets-hero.webp" alt="room" width="841" height="877">
        </picture>
        <div class="cs-right">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Get In Touch</h2>
                <p class="cs-text">
                    Pellentesque sit amet porttitor eget dolor morbi non arcu. Vitae justo eget magna fermentum iaculis eu non
                </p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-587" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-587" name="name" placeholder="Name">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="text" id="phone-587" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="text" id="email-587" name="email" placeholder="Email">
                </label>
                <label class="cs-label">
                    How did you hear about us?
                    <input class="cs-input" required type="text" id="hear-587" name="heat" placeholder="Google">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-587" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
    </div>
</section>
                                
<div id="blank"></div>

<script>
class GalleryFilter {
    filtersSelector = '.cs-button'
    imagesSelector = '.cs-gallery'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        const $filters = document.querySelectorAll(this.filtersSelector)
        this.$activeFilter = $filters[0]
        this.$images = document.querySelectorAll(this.imagesSelector)

        this.$activeFilter.classList.add(this.activeClass)

        for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $image of this.$images) {
            const show = showAll || $image.dataset.category == filter
            $image.classList.toggle(hiddenClass, !show)
        }
    }
}

new GalleryFilter()
</script>

    {% include 'components/cta.html' %}
{% endblock %}

